body {
    background-color: #111;
}

.panel-ctrl {
    cursor: pointer;
    color: #aaa;
    display: inline-block;
    width: 18px;
    height: 24px;
    text-align: center;
    opacity: 0.3;
    transition: all 0.15s ease-in-out;
    line-height: 30px;
}

.panel-ctrl:hover {
    opacity: 1;
}

#root {
    background: #222;
}

.graphGrid {
    left: 21px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    overflow: hidden;
    background-color: black;
}

.side-controls {
    height: 100%;
    width: 20px;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
    background: #181818;
    user-select: none;
}

.ctrl-button {
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
    color: #00b974;
    text-align: center;
    padding-left: 2px;
}

.ctrl-button:hover {
    color: #20d994;
}

.connection-indicator {
    font-weight: bold;
    font-size: 20px;
}

.disconnected {
    color: #aa0000;
}

.connecting {
    color: #aaaa00;
}

.connected {
    color: #0f04;
}

.graphConfigButton {
    color: #888;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 2px;
}

.graphConfigButton:hover {
    color: #fff;
}

.graphTile {
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 0;
}

.graphHolder {
    height: 100%;
    width: 100%;
}

.graphHolder.configOpen {
    width: 75%;
    float: left;
}

.configPanel {
    color: white;
    width: 25%;
    height: 100%;
    float: right;
    transition: width 0.2s;
}
