body {
    background-color: #111;
}

body,
html {
    scrollbar-color: #444 #222;
}

.y-scroll {
    overflow-y: auto;
    overflow-x: hidden;
}

.panel-ctrl {
    cursor: pointer;
    color: #aaa;
    display: inline-block;
    width: 18px;
    height: 24px;
    text-align: center;
    opacity: 0.3;
    transition: all 0.15s ease-in-out;
    line-height: 30px;
}

.panel-ctrl:hover {
    opacity: 1;
}

#root {
    background: #222;
}

.graphGrid {
    left: 21px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    overflow: hidden;
    background-color: black;
}

.side-controls {
    height: 100%;
    width: 20px;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
    background: #181818;
    user-select: none;
}

.ctrl-button {
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
    color: #00b974;
    text-align: center;
    padding-left: 2px;
}

.ctrl-button:hover {
    color: #20d994;
}

.connection-indicator {
    font-weight: bold;
    font-size: 20px;
}

.disconnected {
    color: #aa0000;
}

.connecting {
    color: #aaaa00;
}

.connected {
    color: #0f04;
}

.graphConfigButton {
    color: #888;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 2px;
    line-height: 14px;
}

.graphConfigButton:hover {
    color: #fff;
}

.graphTile {
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 0;
}

.graphHolder {
    height: 100%;
    width: 100%;
}

.graphHolder.configOpen {
    width: 70%;
    float: left;
}

.configPanel {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #333;
    width: 30%;
    height: 100%;
    float: right;
    /* transition: width 0.2s; */
}

.graphSettings {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 90%;
    height: 100%;
    padding-left: 3%;
}

.config-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3%;
}

.config-row label {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
}

select {
    width: max-content;
    height: 20px;
}

label input {
    width: 40%;
    min-width: 20%;
}

label input,
label select {
    background-color: #444;
    color: #fff;
    border-top: 1px solid #555;
    border-left: 1px solid #555;
    border-bottom: 1px solid #888;
    border-right: 1px solid #888;
}

label input:disabled,
label select:disabled {
    background-color: #222;
    color: #aaa;
    border: none;
}

label input[type="color"] {
    width: 40px;
    background-color: inherit;
    border: none;
    min-width: 20px;
}

label .react-datetime-picker,
label .react-datetimerange-picker {
    max-height: 24px;
}

.react-datetime-picker__wrapper {
    color: #fff;
    background-color: #444;
    border-top: 1px solid #555 !important;
    border-left: 1px solid #555 !important;
    border-bottom: 1px solid #888 !important;
    border-right: 1px solid #888 !important;
}

.react-calendar {
    background-color: #333 !important;
    border-top: 1px solid #555;
    border-left: 1px solid #555;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

.react-calendar__navigation__label,
.react-calendar__navigation__arrow, .react-calendar__tile {
    color: white;
}

.react-calendar__month-view__days__day {
    color: white;
}

.react-calendar__navigation button:hover,
.react-calendar__month-view__days button:hover,
.react-calendar__year-view__months button:hover {
    background-color: #555 !important;
}

.cat-tile-container {
    justify-content: center;
}

.cat-tile {
    border: 1px solid #4d4d4d;
    /* width: 75%; */
}

.cat-tile-header {
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
}

.cat-tile-button {
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    color: #aaa;
}

.cat-tile-button:hover {
    color: #fff;
}

.cat-tile-button.red:hover {
    color: #f55;
}

.cat-tile-options {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    padding-left: 1%;
}

.cat-tile-footer {
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
}

.cat-tile-footer button {
    width: 50%;
    color: white;
    cursor: pointer;
    background-color: #555;
    border-top: 2px solid #aaa;
    border-left: 2px solid #aaa;
    border-bottom: 2px solid #555;
    border-right: 2px solid #555;
}

.cat-tile-footer button:hover {
    color: #afa;
}
