<!doctype html>
<html>

<head>
    <title>Graph Tiler</title>
    <link rel="icon" href="{{ url_for('static', filename='images/graphTiler.ico') }}" type="image/bmp" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/graphTiler.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rc-dock-dark.css') }}">
</head>
<body>
    <div id="root"  style="height:100%"></div>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
</body>

</html>
